.user-post {
    background-color: rgb(48, 48, 48);
    padding-top: 0.5vh;
    padding-bottom: 2vh;
    margin: 2vh 3vw 3vh;
    border-radius: 3px;
    box-shadow: 0px 8px 6px -8px black;
    font-family: 'Noto Sans JP', sans-serif;
}

.user-post-line {
    border-top: rgb(78, 78, 78) 0.5px solid;
    margin: 1vh 4vw 2vh;
}

.user-post p {
    color: rgb(206, 206, 206);
}

.user-info p {
    font-size: 15px;
    font-weight: normal;
    font-weight: bold;
    padding-top: 1.5vh;
    padding-bottom: 0.1vh;
}

.question {
    margin-bottom: 2vh;
}

.question p {
    font-size: 14px;
    font-weight: normal;
    padding-left: 2vw;
    padding-right: 2vw;
}

.rating-bar p {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.question-answered h1, h2, h4 {
    font-family: 'Reem Kufi', sans-serif;
    font-weight: normal;
}

.question-answered h2 {
    margin:0vh 2vw 1vh;
    font-size: 17px;
}

.question-answered h1 {
    margin:0vh 2vw 1vh;
    font-size: 20px;
    color: rgb(190, 125, 72);
}

.question-answered h4 {
    margin:0vh 2vw 3vh;
    font-size: 17px;
}

.group-dne h1, h2 {
    font-family: 'Reem Kufi', sans-serif;
    font-weight: normal;
    color: #fff;
}

.group-dne h2 {
    margin:0vh 2vw 1vh;
    font-size: 20px;
}

.group-dne h1 {
    margin:0vh 2vw 1vh;
    font-size: 24px;
}

.rating-slider {
    margin-top: 1vh;
}

.submitButton button {
    width: 40%;
    margin-right: 0.2vw;
    margin-left: 0.2vw;
    font-size: 18px;
    font-weight: normal;
    text-transform: capitalize;
    font-family: 'Leckerli One', cursive;
    color: #fff;
    background-color: rgb(182, 109, 50);
    border: none;
    border-radius: 50px 50px;
    padding: 10px 16px 10px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0.5vh;
}

.submitButton button:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: rgb(223, 136, 65);
    color: white;
}

.submitButton button:focus {
    outline: none;
    /* background-color: #2d3541; */
}

.submitMessage {
    margin-top: 2vh;
    font-size: 14px;
    padding: 0 20% 2vh;
}

/* .user-post button {
    margin-right: 0.4vw;
    margin-left: 0.4vw;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    color: #fff;
    background-color: rgb(31, 31, 31);
    border: none;
    border-radius: 50px 50px;
    padding: 6px 28px 7px;
    text-align: center;
    cursor: pointer;
}

.user-post button:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: rgb(54, 54, 54);
    color: white;
}

.user-post button:focus {
    outline: none;
} */