body {
  background-color: black;
}

.passwordForm {
  width: 380px;
  height: 250px;
  margin: auto;
  margin-top: 30vh;
  background-color: black;
}

.submitEmail {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 30px auto;
  background: linear-gradient(to right, #21dd08,#29A817);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.inputEmail {
  width: 100%;
  padding: 10px 0;
  margin: 15px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  color: white;
}

.passwordLabel {
  color: white;
}

.submitEmail:hover {
  transition: background 2.4s linear;
  background: linear-gradient(to right, #177c0a,#116106);
  border: 0px solid #177c0a;
}