.sportcred-logo {
    width: 170px;
    height: 115px;
    position: relative;
    top: 145px;
    padding-left: 44%;
    padding-bottom: 10px;
}

.response {
    top: 160px;
    position: relative;
    text-align: center;
    padding-left: 0%;
}
