.radar button {
    width: 165px;
    font-size: 23px;
    font-weight: normal;
    font-family: 'Secular One', sans-serif;
    text-transform: capitalize;
    color: rgb(238, 238, 238);
    border: #bd781f 3px solid;
    border-radius: 50px 50px;
    padding: 5px 5px 8px;
    text-align: center;
    cursor: pointer;
    margin-top: 1vh;
    background: linear-gradient(to bottom, #bd781f 0%, #bd781f 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
    transition: background-size .3s;
}

.radar button:hover {
    background-size: 3px 60px;
}

.radar button:focus {
    outline: none;
}

.radar-modal {
    position: absolute;
    background-color: rgb(31, 31, 31);
    top: 45%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 32vw;
    font-family: 'Reem Kufi', sans-serif;
    border-radius: 10px;
    border: rgb(43, 43, 43) 2px solid;
}

.radar-modal>.header h1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 1.5vh;
    color: rgb(241, 193, 131);
}

.radar-modal>.header {
    width: 32vw;
    font-size: 23px;
    text-align: center;
    margin-top: 1.2vh;
    margin-bottom: 0.5vh;
    border-bottom: rgb(63, 63, 63) 1px solid;
}

.radar-modal>.content {
    font-size: 20px;
    font-weight: normal;
    width: 28vw;
    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    text-align: center;
}

.radar-modal>.close {
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 5px 12px 9px;
    line-height: 20px;
    right: 12px;
    top: 0.65vh;
    font-size: 20px;
    background-color: rgb(31, 31, 31);
    color: rgb(197, 197, 197);
    border-radius: 50px 50px;
}

.radar-modal>.close:hover {
    background: #4d4d4d;
    color: rgb(197, 197, 197);
    transition: background 0.2s linear;
}

@media screen and (max-width: 1220) {
    .radar-modal, .radar-modal>.header {
        width: 45vw;
    }
    .radar-modal>.content {
        width: 41vw;
    }
}