.trivia, .solo, .TriviaQuestion, .head_to_head {
    background-image: linear-gradient(180deg, #000000, #202020);
    padding-top: 18vh;
    padding-bottom: 5vh;
    color: #fff;
    text-align: center;
    font-family: 'Reem Kufi', sans-serif;
    margin-left: 280px;
  }
  
  .TriviaQuestion {
    padding-bottom: 10vh;
  }
  
  .trivia h1, .solo h1, .TriviaQuestion h1, .head_to_head h1 {
    margin-bottom: 2vh;
    font-size: 40px;
  }
  
  .trivia h2 {
    margin-top: 1vh;
    margin-bottom: 5vh;
    font-size: 30px;
  }
  
  .trivia p, .solo p, .head_to_head p {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 5vh;
  }
  
  .solo p, .head_to_head p {
    font-size: 20px;
    margin-bottom: 2vh;
  }
  
  .trivia a, .solo a {
    text-decoration: none;
    color: #fff;
    padding: 10px 48px;
  }
  
  .solo-play a {
    background: linear-gradient(to bottom, #696145 0%, #695b45 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    transition: background-size .2s;
    font-size: 26px;
  }
  
  .solo-play a:hover {
    background-size: 3px 60px;
  }
  
  .solo-info {
    padding-bottom: 3vh;
  }
  
  .back {
    padding-top: 6vh;
  }
  
  .back a {
    font-size: 20px;
  }
  
  .back a:hover {
    transition: color 0.25s linear;
    color: #696145;
  }
  
  .trivia a:hover {
    border-top: 2px solid #696145;
    border-bottom: 2px solid #696145;
    transition: background-color 0.6s ease-in-out;
    background-color: #695b45;
  }
  
  .horizontal-line {
    border-top: 1px solid white;
    margin-left: 25vw;
    margin-right: 25vw;
    padding-bottom: 3vh;
  }